* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1024px;
    height: 100vh;
    font-family: sans-serif;
    margin: 0 auto;
    font-size: 18px;

}

.head{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}
.head>a{
    color: inherit;
    text-decoration: none;
    margin-left: auto;
    margin-right: 20px;
}

.head-items{
    display: flex;
    margin: 0 15px;
    list-style-type: none;
}
.head-items li>a{
    text-decoration: none;
    color: inherit;
}
.head-items li{
    margin: 0 15px;
}

.sidebar{
    min-width: 300px;
}
.footer{
    height: 100px;
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;

}
.main-container{
    display: flex;
    min-width: 724px;


}

.content{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.articles{
    display: flex;
}
.articles img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* .article-item{
    max-width: 50%;
} */
.article-item1{
    margin-right: 20px;
    max-width: 50%;

}
.article-item2{
    margin-left: 20px;
    max-width: 50%;
}
.form-content{
    display: flex;
    flex-direction: column;
    padding: 100px 170px;

}

.form-content h4{
    text-transform: uppercase;
    margin-bottom: 40px;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    border: 1px solid #343434;
    border-radius: 5px;
}
.form input[type=text]{
    margin-right: 10px;
    margin-left: 10px;
}
.form input[type=password]{
    margin-left: 10px;
}


.form .user-input,
.form .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form .reset{
    width: 120px;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: darkorange;
    border: 1px solid grey;
    border-radius: 10px;
}
.form .sign-in{
    width: 120px;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;


    background-color: green;
    border: 1px solid grey;
    border-radius: 10px;
}

.form .sign-in:hover,
.form .reset:hover{
    scale: 1.1;
}



